<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="maxHeight" value="100"/>
    <add key="shapeQ" value="0,12,12"/> <!-- 0000, 1100, 1100 -->
    <add key="shapeZ" value="0,12,6"/>  <!-- 0000, 1100, 0110 -->
    <add key="shapeS" value="0,6,12"/>  <!-- 0000, 0110, 1100 -->
    <add key="shapeT" value="0,14,4"/>  <!-- 0000, 1110, 0100 -->
    <add key="shapeI" value="0,0,15"/>  <!-- 0000, 0000, 1111 -->
    <add key="shapeL" value="8,8,12"/>  <!-- 1000, 1000, 1100 -->
    <add key="shapeJ" value="4,4,12"/>  <!-- 0100, 0100, 1100 -->
  </appSettings>
</configuration>